<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDYCj8EwsJ280jQRclLTXjpbtTEYv81pY0</string>
	<key>GCM_SENDER_ID</key>
	<string>496113701296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lolplatform</string>
	<key>PROJECT_ID</key>
	<string>lolplatform-eb04b</string>
	<key>STORAGE_BUCKET</key>
	<string>lolplatform-eb04b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496113701296:ios:95dd1a2276a4ee350fc675</string>
</dict>
</plist>